//全局变量
@themeColor: #60D2DD;
//Switch组件
@SwitchWidth: 120;
@SwitchHeight: 50;
@SwitchPadding: 4;
@SwitchCircleSize: 40;
@SwitchCircleTranslateX: @SwitchWidth - @SwitchCircleSize - @SwitchPadding * 2;
@SwitchCircleColor: #FFFFFF;
@SwitchOnColor: @themeColor; //使用全局变量,也可以自己定义.
@SwitchOffColor: #D8D8D8;
@SwitchDisabledOnColor: #CFF1F5;
@SwitchDisabledOffColor: #F3F3F3;
//CheckBox组件
@CheckBoxSize: 60px;
@CheckBoxBold: 4px;
//背景色
@CheckBoxCheckedColor: @themeColor;
//border的颜色
@CheckBoxDischeckedColor: #ccc;
//打勾的颜色
@CheckBoxCheckedIconColor: #fff;
//背景色 disabled=true
@CheckBoxDisabledCheckedColor: @SwitchDisabledOnColor;
//border的颜色 disabled=true
@CheckBoxDisabledDischeckedColor: #F0F0F0;
//打勾的颜色 disabled=true
@CheckBoxDisabledCheckedIconColor: #90E0E7;
//NavBar组件
//高度
@NavBarHeight: 106px;
//左右padding
@NavBarPaddingLeft: 20px;
////左右padding
@NavBarPaddingRight: 20px;
//背景色
@NavBarBackgroundColor: @themeColor;
//字体图标颜色
@NavBarFontColor: #FFFFFF;
//字体尺寸
@NavBarTitleFontSize: 38px;
//图标点的大小
@NavBarMoreDotSize: 6px;
//更多按钮尺寸
@NavBarMoreSize: 100px;
//更多按钮padding
@NavBarMorePadding: 20px;
//关闭按钮图标尺寸
@NavBarCloseWidth: 40px;
//关闭按钮线条粗
@NavBarCloseHeight: 2px;
//关闭按钮尺寸
@NavBarCloseSize: 100px;
//激活颜色
@NavBarActiveColor: #00FF00;
//Buttons组件
@ButtonsBackgroundColor: #fff;
//Button组件  单个按钮
@ButtonPrimaryColor: @themeColor;
@ButtonHeight: 120px;
@ButtonPadding: 30px;
@ButtonBorderRadius: 15px;
@ButtonPrimaryTextColor: #fff;
@ButtonFontSize: 38px;
@ButtonDashedBorderBold: 3px;
//Loading组件
@LoadingSizeBig: 132px;
@LoadingSizeSmall: 36px;
@LoadingSizeDefault: 72px;
@LoadingColor: #ccc;
//TwoLevelList组件
//背景色
@TwoLevelListBackgroundColor: #ccc;
//高度
@TwoLevelListTitleHeight: 100px;
//标题背景色
@TwoLevelListTitleBackground: #fff;
//标题左右padding
@TwoLevelListTitlePaddingLeft: 20px;
//标题左右padding
@TwoLevelListTitlePaddingRight: 20px;
@TwoLevelListTitleBackIconSize: 32px;
@TwoLevelListTitleBackIconBold: 4px;
@TwoLevelListTitleBackIconColor: #666;
@TwoLevelListTitleFontSize: 36px;
@TwoLevelListItemPaddingLeft: 60px;
@TwoLevelListItemPaddingRight: 60px;
@TwoLevelListItemPaddingTop: 42px;
@TwoLevelListItemPaddingBottom: 42px;
@TwoLevelListLineColor: #ccc;
@TwoLevelListLineHeight: 1px;
@TwoLevelListItemArrowSize: 20px;
@TwoLevelListItemArrowBold: 3px;
@TwoLevelListItemArrowColor: #666;
@TwoLevelListItemTitleFontSize: 28px;
@TwoLevelListItemIconSize: 84px;
@TwoLevelListItemIconImageSize: 60px;
@TwoLevelListItemIconBorderRadius: 15px;
@TwoLevelListItemIconPaddingRight: 30px;
@TwoLevelListItemSubTitleColor: #666;
@TwoLevelListItemSubTitleFontSize: 22px;
@TwoLevelListItemSubTitlePaddingTop: 4px;
@TwoLevelListItemRightTextFontSize: 22px;
@TwoLevelListItemRightTextFontColor: #666;
@TwoLevelListItemRightTextPaddingRight: 24px;
@TwoLevelListItemBackground: #fff;
@TwoLevelListItemIconBackground: #ccc;
@TwoLevelListLinkColor: #3388ff;
@TwoLevelListFooterTextColor: #666;
@TwoLevelListItemGroupPadding: 36px;
//Modal组件
@ModalButtonPaddingTop: 30px;
@ModalButtonPaddingBottom: 30px;
@ModalSoltPaddingLeft: 60px;
@ModalSoltPaddingRight: 60px;
@ModalSlotBorderRadius: 30px;
@ModalPaddingLeft: 30px;
@ModalPaddingRight: 30px;
@ModalTitlePaddingTop: 30px;
@ModalTitlePaddingBottom: 30px;
@ModalTitleFontSize: 38px;
@ModalTitleColor: #000;