//全局变量
@themeColor: #60D2DD;
//Switch标签
@SwitchWidth: 120;
@SwitchHeight: 50;
@SwitchPadding: 4;
@SwitchCircleSize: 40;
@SwitchCircleTranslateX: @SwitchWidth - @SwitchCircleSize - @SwitchPadding * 2;
@SwitchCircleColor: #FFFFFF;
@SwitchOnColor: @themeColor;//使用全局变量,也可以自己定义.
@SwitchOffColor: #D8D8D8;
@SwitchDisabledOnColor: #D8D8D8;
@SwitchDisabledOffColor: #F3F3F3;